.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Gabarito';
  }

  @media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }
  }